[2018-08-28 13:57] killercup commented on #60
Opened #64 with agenda from above.

@Florob can we try and send out the invite today?

[2018-08-28 14:02] Florob commented on #60
Yes please.

[2018-08-28 14:20] killercup commented on #60
Updated website and a bunch of stuff, but need to go now. @mre, does your hello script still work? :)

[2018-08-28 14:36] mre commented on #60
It should. 😅 Any platform I should run it on? Or do you want to give it a shot and open issues for bugs? 😉

[2018-08-28 14:37] mre commented on #60
(Yakshave: Would be fancy to add it to this repo as a release bot, similar to `bors`.)

[2018-08-28 16:03] killercup commented on #60
@mre, well there are some unticked boxes in the issue description…

[2018-08-29 09:41] killercup commented on #60
@mre I actually just wanted to ask yesterday if you'd like to (automatically) post this to reddit and the forums (for free internet points). Otherwise I'll do it tonight.

[2018-08-29 10:17] mre commented on #60
Busy times, sorry. 😆
Posted on reddit with the following command:
[code]

[2018-08-29 10:18] mre commented on #60
Discourse support is WIP (https://github.com/hello-rust/hello/pull/7), so I will submit it manually.

[2018-08-29 10:21] mre commented on #60
Forum: https://users.rust-lang.org/t/rust-cologne-sept-5th-2018-fun-traits/19945

[2018-08-29 10:23] mre commented on #60
rustplatz forum is offline? Only the [main website](rustplatz.de) seems to be active, but I can't find out how to post anything there...

[2018-08-29 10:44] badboy commented on #60
@mre Yes, the rustplatz forum doesn't exist anymore. The main site doesn't really have any news section. So there's nothing to do.

[2018-08-29 21:17] mre commented on #60
Ah okay, that explains. Thanks for the info and the [funny PR](#65). 😆

[2018-09-04 16:25] killercup commented on #60
@Florob do you plan on recording the talks tomorrow? If so, do you need help to get the equipment from the C4 to ThoughtWorks? I can probably get to the C4 around 18:45

[2018-09-04 16:42] Florob commented on #60
@killercup I was, yes. Some help carrying the equipment would be appreciated.

[2018-09-05 14:14] killercup commented on #60
Added a bunch of signs [here](https://github.com/Rustaceans/rust-cologne/tree/5ff8ac8cfe8ee7f3cd60d9bc7d4fc851355301d3/meetup-orga) and printed two of each.

[2018-09-05 19:56] killercup commented on #60
Great meetup! Let's close this issue once the recordings are online.

[2018-09-08 09:01] #60 closed

[2018-09-20 00:05] FichteFoll opened #66 "Get a TLS cert from Github for the custom domain"
Via https://github.com/isaacs/github/issues/156, it has been possible to get issued a certificate for a custom domain for a few months now. I'm not entirely sure about the process, but maybe it's enough to just disable and re-enable the custom domain in the repository's preferences?

https://help.github.com/articles/troubleshooting-custom-domains/#https-errors might also have something about this.

[2018-09-20 08:30] killercup commented on #66
Ah, thanks for the reminder!

@brakmic, you currently manage the rust.cologne domain and said in #43 that you wanted to do so for another year (November 2018). Do you want to transfer it to one of us? Also, can you change the A records of the domain to (one of the) IP addresses listed [here](https://help.github.com/articles/troubleshooting-custom-domains/#https-errors) to enable Github's HTTPS sup

[2018-09-20 08:33] brakmic commented on #66
Hi,

The domain is registered until 04. of Nov. 2018. But I can give you the Auth-Code so you can take over.

[2018-09-20 08:37] brakmic commented on #66
I have also changed the IPs.

[2018-09-20 08:39] killercup commented on #66
Awesome, thanks, @brakmic! I'll send you an email.

Meanwhile, Github says

Please allow 24 hours for this process to complete.

[2018-09-20 09:07] killercup commented on #66
Sweet, https://rust.cologne now works for me!

Thanks for the quick response, @brakmic!

[2018-09-20 09:07] #66 closed

[2018-09-20 18:09] dcz-self commented on #63
I promised to do a talk, so I have 2 ideas I could follow:
- about Rust in the Wayland ecosystem
- about interfacing with C/C++

By default, I prefer to talk about interfacing, since it's easier for me, unless there's interest in Wayland?

[2018-09-22 17:20] killercup commented on #63
@dcz-self both sound great! There are some talks and posts about C/C++ interfacing (e.g. @spacekookie's RustConf talk), but I haven't seen much about Rust and Wayland. Also: You don't have decide right now. We can easily put some placeholder in right now to reserve you a spot in the agenda. :)

[2018-09-22 17:56] mre commented on #63
Yay @dcz-self. Looking forward to that! 🎉

[2018-10-04 16:06] killercup commented on #63
@dcz-self did you settle on a topic? We can also announce the meetup without talks for now and you still decide on the stop, if and what you want to talk about.

[2018-10-04 16:12] dcz-self commented on #63
@killercup I decided to go with your recommendation - sorry that I didn't say it explicitly. If you need a title, let's make it "Wayland + Rust"

[2018-10-04 16:15] killercup commented on #63
Awesome! Can you give me a bit more info so it looks good on the website? I think we have title, your name, abstract (just a sentence is fine), and some links to where people can find you, and slides/videos (can be added later of course)

[2018-10-04 16:29] dcz-self commented on #63
I'm probably going to deal with slides over the weekend.

I'll take some time to explain what is Wayland and why it's here to stay. Then, I'll give a high level overview of the state of Rust on Wayland: how to write servers and clients, and how far along we can get with Rust. I want to focus on [Smithay projects](https://github.com/Smithay/), and [wlroots-rs](https://github.com/swaywm/wlroots-rs).

[2018-10-04 16:50] killercup commented on #63
@dcz-self perfect! I've added it to #67. I hope to announce the meetup this evening.

As you might have seen, we are not at the C4 next week, but at Cisco near Heumarkt. Do you want to have your talk recorded? (If so, we might need to bring some equipment over.)

[2018-10-04 16:52] dcz-self commented on #63
Yup, I'll grab the addess from the meetup announcement.

I don't care much about recording, I'll be happy if it doesn't end up being a total disaster ;)

[2018-10-04 17:12] dcz-self commented on #63
Oh btw, credit me as Dorota.

[2018-10-05 11:20] killercup commented on #63
Published website, updated meetup.com event description, and wrote a tweet.

@mre, since you did such an amazing job posting to the forums and reddit last time, want to do the honors again? :)

[2018-10-05 11:43] mre commented on #63
Aye, can do.

[2018-10-05 11:49] mre commented on #63
* [Reddit](https://www.reddit.com/r/rust/comments/9lljok/rust_cologne_oct_10th_2018_wayland_compositors/)
* [Forum](https://users.rust-lang.org/t/cologne-germany-open-space-on-2018-10-10/21014)

[2018-10-14 08:49] killercup opened #68 "November 2018 Event"
# ToDo

- [x] Settle for a date and location
  - default: **Wednesday 2018-11-07, 19:15 CET** at **C4** (first Wednesday of November)
  - alternatives: Cisco, ThoughtWorks
- [ ] ~~Send "Save the Date" info (with link to this ticket)~~
- [x] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2018-10-24**)
  - [x] [meetup](https://www.meetup.com/de-DE/RustCologne/events/vnwndpyxpb

[2018-10-14 08:50] killercup commented on #68
Maybe it's time to do a "Rust 2018" event? Otherwise we can do this in December right around the time of the actual release.

[2018-10-15 08:39] pizzamig commented on #68
Because Matthias is always pushing me to do a talk about something, I'd offer 2 possible topics:
* my crate structopt-flags: a small presentation and code review + examples + discussion + ideas about its limitations
* Rust on FreeBSD: it would be more a talk about the how to create a package of a tool written in Rust on FreeBSD
@killercup if you prefer to do a Rust 2018 event in November, I can po

[2018-10-15 10:49] killercup commented on #68
@pizzamig sounds great! I'm not married to the idea of doing a Rust 2018 event. I'd actually prefer it if we had some talks about stuff that is not what everyone else will be talking about anyway :) @Florob, what do you think?

- I've seen your structop-flags crate but just realized I've never talked to you about it, as there are some similar crates (by Yoshua) at https://github.com/rust-clique (I

[2018-10-20 15:32] killercup commented on #63
@dcz-self Someone on reddit [asked](https://www.reddit.com/r/rust/comments/9lljok/rust_cologne_oct_10th_2018_wayland_compositors/e84dfay/?context=3) for your slides. Do you want to post them anywhere? (Can be in this repo, just make a PR, we have a few already.)

@uwearzt @Florob what ever happend to that recording?

[2018-10-21 17:50] gnunicorn commented on #68
I'll be around cologne at that time and could offer to give a talk, too. I am working on [substrate](https://github.com/paritytech/substrate), which uses rust and wasm features heavily, running an internal wasm-runtime, which can be live-upgraded through the connected p2p-network. I'd happily talk about how this being achieved and what amazing possibilities rust allows here. Would that be of inter

[2018-10-21 18:03] killercup commented on #68
That sounds very cool! We can't afford to miss that opportunity! :)

@Florob, should we go with the default time + place, then? We probably want to use the C4's recording setup.

(I officially move my "Rust 2018 Meetup" plans to December)

[2018-10-22 12:17] Florob commented on #68
Yes, let's go with the default time/place. We don't exactly have anything else lined up anyway, do we?
Some talks in November, and a (celebratory?) Rust 2018 Meetup in December sounds fine.

[2018-10-22 12:22] killercup commented on #68
Awesome! Let's try and annouce this, then!

@pizzamig, @gnunicorn can you give me

- a title for your talk,
- the name you want to be credited as,
- the links zu github/twitter that I should add next to your name,
- and a short summary of what you want to talk about?

[2018-10-22 21:43] pizzamig commented on #68
so, for my talk, I'd say:
* title: Rust on FreeBSD
* my name is: Luca Pizzamiglio
* github: https://github.com/pizzamig twitter: https://twitter.com/pizzamig
* FreeBSD: what is it? Rust on FreeBSD: state of the art. How to build a FreeBSD package for a Rust project.
I think it will be about 30 minutes long, 40 minutes max.

[2018-10-23 13:17] gnunicorn commented on #68
For me that will be:
 - title: WASM in the wild: hot-upgradable runtime in substrate thanks to Rust
 - my name: Benjamin Kampmann
 - personal github: @gnunicorn, twitter: twitter.com/gnunicornBen, website: gnunicorn.org
 - project github: https://github.com/paritytech/substrate/  , website: https://www.parity.io/substrate/
 - desc: 2018 is the year of WebAssembly.  But did you know, you can do mor

[2018-10-23 15:56] killercup commented on #68
All announcements done! (Thanks @mre for the help!)

[2018-10-23 16:39] dcz-self commented on #63
I figured this will be easier:

[presentation.zip](https://github.com/Rustaceans/rust-cologne/files/2507004/presentation.zip)

[2018-10-23 16:46] mre commented on #63
I like to host mine on [speakerdeck](https://speakerdeck.com/). [Example here.](https://speakerdeck.com/mre)

[2018-11-07 14:13] uwearzt commented on #63
Hi, sorry for the delay, here is the video:
https://www.dropbox.com/sh/wwrrpeppbjdaa57/AACHRP7oM_UwXakeqTigVODua?dl=0

Next time, we will also be able to record the speaker camera on our Video Conferencing system (and be much quicker with the Video).

@Florob i guess you need to trim at both ends :)

[2018-11-07 22:51] killercup commented on #68
Thanks for the great talks and discussions!

@pizzamig, @gnunicorn do you want to post your slides? (Feel free to attach a file here)

[2018-11-08 09:38] pizzamig commented on #68
It was a pleasure. Here my slides.
[rust_cologne_201811.pdf](https://github.com/Rustaceans/rust-cologne/files/2561139/rust_cologne_201811.pdf)

[2018-11-11 00:14] killercup opened #70 "December 2018"
# ToDo

- [ ] Settle for a date and location: **Wednesday 2018-12-05, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

# Invi

[2018-11-11 00:15] killercup commented on #70
IIRC, this event will be hours before the release of the 2018 edition. Talks about that very welcome :)

[2018-11-11 00:29] killercup commented on #63
Video is live at https://www.youtube.com/watch?v=oX5yVyLbLZE and link on the website!

[2018-11-12 13:11] #68 closed

[2018-11-12 13:11] killercup commented on #70
Also, Glühwein?

[2018-11-21 11:57] killercup commented on #70
After talking with @Florob last week, we decided to go with Glühwein/Punsch at the C4 and something Rust 2018 related. Added an initital draft in #71.

Right now, we don't have any talks planned, but would be very excited if **you** wanted to give a talk! Drop a comment here or reach out to one of us directly :)

[2018-11-21 14:33] mre commented on #70
Maybe other people would like to give a talk, but if not, I could prepare one about "The State of Rust Ergonomics". It would basically be a "before-and-after" slideshow of different code examples, which show all the little papercuts that were fixed with Rust 2018.

If anyone wants to collaborate on that, contact me. We can collect code snippets together. 🤝

[2018-11-21 14:46] killercup commented on #70
That sounds like a great idea, @mre! Maybe we can even do live "upgrade to 2018" thing?

I'll most likely be writing a post about cargo-fix in the lead up to Dec 6, so I can say a few words about how that works too (without slides… and preparation).

[2018-11-22 10:41] killercup commented on #70
Announced on meetup, added to calendar, and tweeted about it. More after lunch unless @mre `hello`s before then :)

[2018-11-30 16:53] killercup opened #72 "January 2019"
# ToDo

- [x] Settle for a date and location: **Monday 2019-01-14, 19:15 CET** at C4
- [x] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2018-12-21**)
  - [x] [meetup](https://www.meetup.com/RustCologne/events/vnwndpyzcbdb/)
  - [x] [website](https://rust.cologne/2019/01/14/open-space.html)
  - [x] [twitter](https:/

[2018-12-02 13:34] mattgathu opened #73 "Question: Can I reuse this website code"
Hello, I'm creating the Rust Nairobi user group website and wanted to know if it's okay to
reuse the code for Rust Cologne website.

There is no License file so I thought wise to ask.

Thanks

[2018-12-02 13:39] killercup commented on #73
Hey Matt, sure!

Some time ago we even extracted the Jekyll template: https://github.com/rust-community/rust-meetup-template

berlin.rs uses our template, too :)

PS: You can easily change the colors by overwriting this variable: https://github.com/rust-community/rust-meetup-template/blob/8399ad00b80b11c370beff982380f192c91f739f/_includes/styles.scss#L10

[2018-12-02 13:41] mattgathu commented on #73
cool! Thanks 🦀

[2018-12-02 13:41] #73 closed

[2018-12-03 15:34] killercup commented on #70
@Florob how do the Glühwein and punsch ingredients get to the C4? What should I buy/bring?

[2018-12-04 09:25] Florob commented on #70
@killercup Well, what do you feel comfortable bringing? I have no good idea what do do for punsch, so that would be appreciated. I'll try to get Glühwein this evening. Either via the C4, or a nearby store.

[2018-12-04 21:59] killercup commented on #70
@Florob Alright, I'll try to make punsch happen! We did something with tea and juice last year and it was drinkable, so I'm sure we can to a similar point tomorrow :)

[2018-12-04 22:04] mre commented on #70
There is a Netto supermarket next door. Usually they have awesome "Kinderpunsch". We should be arriving at around 6:30pm tomorrow, so I could go there and buy a few bottles. Just send me a tweet tomorrow if we have a need for it. 🎅

[2018-12-04 22:06] killercup commented on #70
Oh, that stuff is actually drinkable? I planned on going there to get the ingredients anyway. Getting the ready-made variant would be fine with me!

I'll try to be there a bit after 6, too. I'll try to meet you at Netto!

[2018-12-04 22:08] mre commented on #70
I'm addicted.

Deal.

[2018-12-06 18:23] killercup commented on #70
Thanks for the great evening!

[2019-01-01 16:45] killercup commented on #72
Hey, @dcz-self, random question: Any chance you'll be able to make it to this meetup on Jan 14? @spacekookie might join and would love to meet you. :)

[2019-01-01 16:49] dcz-self commented on #72
On Tue, 01 Jan 2019 08:45:06 -0800
Pascal Hertleif <notifications@github.com> wrote:

I actually will! Nice to know I'm gaining recognition ;)

[2019-01-01 16:52] killercup commented on #72
Awesome! Be careful with that fame, though, or you'll spend this year answering weird questions about wayland from random people! ;)

Also: Happy new year!

[2019-01-01 22:25] spacekookie commented on #72
@dcz-self oh yay, looking forward to it!

[2019-01-21 08:15] Florob commented on #72
Thanks to everyone who joined us. We had some fun discussions.

[2019-01-21 08:15] #72 closed

[2019-01-21 08:19] Florob opened #75 "February 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-02-06, 19:15 CET** at C4 (default: first Wednesday each month)
- [x] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **2019-01-21**)
  - [x] [meetup](https://www.meetup.com/RustCologne/events/vnwndpyzdbjb/)
  - [x] [website](https://rust.cologne/2019/02/06/z

[2019-02-06 22:22] #75 closed

[2019-02-06 22:26] Florob opened #76 "March 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-03-06, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [x] [meetup](https://www.meetup.com/de-DE/RustCologne/events/vnwndpyzfbjb/)
  - [x] [website](https://rust.cologne/2019/03/06/li

[2019-02-26 16:01] mre commented on #76
Did we already settle for a date for the next meetup?
Also, I could ask around if anyone wants to present if you like.

[2019-02-26 16:14] Florob commented on #76
Well, it's the first Wednesday each month so people can plan ahead, unless we have a reason to choose another date (including "Let's switch it up once in a while"). I'm not entirely sure if Ash Wednesday qualifies as a reason, we'd have to pick some Monday then.
Presentations would be very welcome. Otherwise I don't really have any ideas right now besides the Open Space default. And honestly I'm a

[2019-02-26 16:26] mre commented on #76
Just asking because the date in the ToDo above is still Wednesday 2019-02-06 😉

How about we port some Go/Python tool to Rust?

E.g. this code: https://github.com/schollz/howmanypeoplearearound/blob/master/howmanypeoplearearound/analysis.py

Or some code katas / a task from AdventOfCode?

[2019-02-26 16:29] mre commented on #76
Another idea: I need a tool which sets environment variables whenever I leave/enter a directory. The scope of this tool is small enough so that we can write it in two hours and it's easy to extend (e.g adding support for running arbitrary code). Maybe that's something we could build.

[2019-02-27 08:37] Florob commented on #76
Oh, got it. That was just me mistyping the month though.

I think writng/porting some code sounds like a good idea. I'll write and post an announcement after work or over lunch.

[2019-03-06 02:19] Florob commented on #76
Some additional task suggestions:
* [Throwing Darts for Pi](http://www.thephysicsmill.com/2014/05/03/throwing-darts-pi/)
* [Pi by Riemann integration (threaded, cf. slide 23)](http://babelmonkeys.de/~florob/talks/RUG-2015-10-28-Rust.pdf)
* [Project Euler](https://projecteuler.net)
* [Dining Philosophers Problem (threaded)](https://en.wikipedia.org/wiki/Dining_philosophers_problem)
* [rustlings (ma

[2019-03-09 19:16] #76 closed

[2019-03-09 19:17] Florob opened #77 "April 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-04-03, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [x] [meetup](https://www.meetup.com/de-DE/RustCologne/events/vnwndpyzgbfb/)
  - [x] [website](https://rust.cologne/2019/09/03/si

[2019-03-25 12:18] Florob commented on #77
We still need a topic for next month's meetup.
Based on the discussion with @mre at the last meetup I was thinking about preparing a talk on Un-/Dynamically Sized and Existential Types in Rust.
It would be nice if someone volunteered to do a second talk on a less involved topic.

[2019-03-25 13:14] mre commented on #77
That sounds great!
I could contribute a short talk / live presentation on the pitfalls of writing a `wc` (word count) program and how Rust saves you from them. Based on a workshop I recently gave. Would that be interesting?
We could also ask on Meetup/Twitter if people want to present other topics.

[2019-03-26 18:48] Florob commented on #77
@mre That also sounds nice. Could you prepare a short abstract for your talk that I can use in an announcement/on the website?
Generally we/I should make a habit of asking around for topics/talks more and earlier. This time around its a bit late for that.

[2019-03-26 20:44] mre commented on #77
Sure thing:

[2019-03-28 14:03] Florob commented on #77
@mre Thanks for the abstract.

The meetup is now announced on the website and meetup.com. Other channels to follow.

[2019-04-04 01:54] #77 closed

[2019-04-04 01:58] Florob opened #79 "Mai 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-05-01, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **2019-04-17**)
  - [x] [meetup](https://www.meetup.com/RustCologne/events/vnwndpyzhbcb/)
  - [x] [website](https://rust.cologne/2019/05/01/p

[2019-04-04 08:06] mre commented on #79
Idea: maybe we could ask around on Reddit/Twitter for topics already. We could motivate people to give talks. If that doesn't work, we could go round and each participant quickly talks about their current status, what they are working on or where they got stuck at the moment. Of course, people are free to skip their turn and just listen.

[2019-04-15 21:23] rabite0 commented on #79
Hi, I'm the author of hunter (https://github.com/rabite0/hunter). A friend invited me to join the upcoming Rust meeting.

Maybe I could do a short talk about hunters design choices, difficulties I had implementing, etc.

EDIT: Nice, mre already knows about hunter. I kind of knew I had seen that face before. What a coincidence ;)

[2019-04-15 21:39] mre commented on #79
From my side, that would be awesome! Sure would make for a nice talk and an interesting discussion. I like the project, so I might be biased. 😆 Let's see what @Florob has to say. Apart from that it would also be nice to meet you in person.

[2019-04-15 22:02] rabite0 commented on #79
Yes, that would be great. What a coincidence, hunter is so new and niche and now I'm going to meet someone who helped me getting it to work on macOS.

I just need to know in the next few days, so that I can prepare the talk.
Also, it doesn't have to be focused strictly on hunter and its architecture. I could also talk about how Rust is great for concurrent programs in general. If it's a go, I have

[2019-04-16 08:38] Florob commented on #79
@rabite0 Hi, thank you for the offer. I had actually also seen hunter already, too. It seems like an interesting project. I'd be happy to have you at our next meetup. My understanding is that hunter is quite concurrent, so that would play into discussing the design/architecture anyway, right? I'd leave it up to you how general you want to get in your talk. Do you have a sense on how long your talk

[2019-04-16 11:28] rabite0 commented on #79
Great, thank you.

Yes, I mean since that's the code I've actually written and know best it would only make sense for me to take parts of it to show the audience how Rust's strengths can be used in practice.

I was thinking about around 20 minutes, maybe a bit more, depending on the amount of questions, so I think having two talks would be fine. I don't know how those meetings usually work, though

[2019-04-22 12:52] Florob commented on #79
@rabite0 That's absolutely fine. I'd still need to know a title for the talk (with that abstract I assume it's not going to be just "hunter") and what name you'd want to be announced as (rabite0/nickname is fine if that's your preference).

Since it doesn't look like we'll have another talk, I'm thinking about preparing a couple of concurrent/parallel programming exercises in the spirit of [rustli

[2019-04-23 10:41] rabite0 commented on #79
Since you said there are a lot of people relatively new to Rust it probably makes sense to cover the foundations first. Depending on how bored the audience is I can accelerate or slow down, of course.

Also, when I thought about it, the only things I use in hunter are rayon's thread pools and my own Future-like Async-type on top of that, so there wouldn't actually be too much to talk about.

Well

[2019-04-24 08:21] Florob commented on #79
@rabite0 I think that will work fine as a title. Feel free to remain as pseudonymous as you like, even during the meetup, or at least the recorded part. I just need to know your preference for announcements and recording metadata. English is usually the preferred language for talks at our meetups. There are often 1-2 participants that don't speak German very well. It also makes recordings accessib

[2019-04-28 20:08] uwearzt commented on #79
@Florob  Back from vacation.

May 1st is a public holiday in Germany, i will not be able to attend, sorry. I started to prepare my talk, so we can plan it for June.

[2019-04-29 10:57] kawogi commented on #79
I cannot attend for the same reason :(

[2019-04-30 00:28] FichteFoll commented on #79
Regarding Futures, async and await stuff, [this brand-new comment](https://github.com/rust-lang/rust/issues/57640#issuecomment-487758650) and the article draft it references may be of relevance. Though it doesn't include an actual decision to report.

[2019-04-30 10:54] rabite0 commented on #79
Confirming my attendance.

[2019-05-02 13:36] Florob commented on #79
We had a fairly successful meetup, feedback on the threading exercises was generally positive and people seemed to have learned one thing or the other from them. They are still available at https://github.com/florob/threadlings.

@rabite0 I'm rather confused you didn't show up after explicitly reaffirming your attendance. Hope you're all right.

[2019-05-02 13:36] #79 closed

[2019-05-23 19:39] Florob opened #80 "June 2019"
# ToDo

- [x] Settle for a date and location: **Monday 2019-06-10, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2019-06-06**)
  - [x] [meetup](https://www.meetup.com/RustCologne/events/tnrnbryzjbhb/)
  - [x] [website](https://rust.cologne/2019/06/10/four

[2019-05-31 07:47] mre commented on #80
Do we have any talks yet? Maybe we should ask around on Twitter.
If we can't find a speaker, I could do a talk about Rust and WebAssembly.
It's an adaption of [a talk I gave two weeks ago at the Web Engineering meetup](https://www.meetup.com/Web-Engineering-Duesseldorf/events/260995020/).
Open for suggestions.

[2019-05-31 19:54] Florob commented on #80
@mre Thank you for the offer. I have something a bit different in mind for this time around, cf. the announcement in the issue.

[2019-06-01 17:27] mre commented on #80
Ah alright. I mistook the announcement with the default template. Sounds great.

[2019-06-03 23:28] kawogi commented on #80
The Wednesday in the ToDo list should probably be a Monday.

[2019-06-05 01:51] kawogi commented on #80
I just noticed that this is a public holiday, so I won't be able to attend (once more).

[2019-06-10 21:18] #80 closed

[2019-06-10 21:19] Florob opened #81 "July 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-07-03, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2019-06-19**)
  - [x] [meetup]
  - [x] [website]
  - [x] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

[2019-06-11 13:58] rabite0 commented on #80
Here are the slides from yesterday. I included both the shorter version from yesterday, as well as a longer version which also contains some more basic stuff in the beginning. The org-file, a latex file created from that, and the pictures are in there too, if case you want do any changes.

[rust-talk.zip](https://github.com/Rustaceans/rust-cologne/files/3276748/rust-talk.zip)

[2019-06-11 20:36] mre commented on #80
Nice! Thanks @rabite0.

[2019-06-12 02:07] Florob commented on #81
This will be (by my count) our 42nd meetup. So something that roughly fits a "Don't panic!" theme might be nice: error handling, `panic!()`ing, etc.

[2019-07-03 21:15] #81 closed

[2019-07-03 21:16] Florob opened #82 "August 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-08-07, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [x] [meetup](https://www.meetup.com/RustCologne/events/tnrnbryzlbkb/)
  - [x] [website](https://rust.cologne/2019/08/07/fast-saf

[2019-07-31 12:54] mre commented on #82
Any plans for talks yet? We can ask around a bit (on Twitter perhaps?).

I have a talk about WASM and a few Rust demos. Nothing special but maybe worth the 30 minutes. I have another one about emulators and Rust. This one is more like a lightning-talk but might be a good starting point for a conversation.

Other than that, I'd love to see a talk about the following topics:
* Hardware internals and

[2019-07-31 14:28] killercup commented on #82
I'm flying home for a family event next Wednesday and might show up :)

[2019-07-31 15:38] mre commented on #82
Oh boy! 🎉

[2019-08-02 08:12] Florob commented on #82
@mre I have a talk in mind I want to do contrasting Undefined Behavior in C with Rusts behavior in the same sort of situations. If you can send me a short abstract for the WASM talk I'll put out a proper announcement this evening. Meetup's automatic announcement has beaten me to it again, which is getting rather bothersome.

@killercup Yay, looking forward to seeing you.

[2019-08-02 13:03] uwearzt commented on #82
@mre I have already prepared a talk about Rust embedded. Unfortunately i will not be able to attend on Wednesday, so hopefully in September.

[2019-08-02 15:31] mre commented on #82
@Florob can we just go with this?

[2019-08-02 21:23] Florob commented on #82
@mre We can always try :stuck_out_tongue: Thanks

[2019-08-08 17:47] Florob commented on #82
@mre Can you send me (a link to) your slides so I can put them on the website?

[2019-08-08 17:47] #82 closed

[2019-08-08 17:48] Florob opened #83 "September 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-09-04, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **2019-08-21**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

[2019-08-08 17:48] mre commented on #82
[Here you go](https://github.com/mre/wasm/)

[2019-08-21 19:16] Florob commented on #83
@uwearzt How is the Rust embedded talk coming along?

[2019-08-22 17:06] uwearzt commented on #83
@Florob started the preparation of my talk today, see https://github.com/uwearzt/embedded-rust

[2019-08-27 11:36] Florob commented on #83
@uwearzt Well, the real question is do you think you'll want to do it/have it finished by the next meetup? If so it would be great if you could write up a short abstract for the announcement.

Generally I've been thinking about doing an/my introduction to Rust talk at the next meetup.
So we'd have a generic introduction to Rust, followed by one to embedded Rust.

[2019-09-04 20:16] #83 closed

[2019-09-07 06:32] uwearzt commented on #83
https://github.com/uwearzt/embedded-rust

[2019-09-07 06:38] uwearzt opened #84 "October 2019"
# ToDo

- [x] Settle for a date and location: **Wednesday 2019-10-02, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2019-09-18**)
  - [x] [meetup]
  - [x] [website]
  - [ ] [twitter]
  - [x] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

[2019-09-09 07:38] uwearzt commented on #84
Maybe also add the event to the [calendar](https://calendar.google.com/calendar/embed?src=apd9vmbc22egenmtu5l6c5jbfc@group.calendar.google.com) for inclusion in the weekly Rust newsletter?

[2019-10-02 20:44] #84 closed

[2019-11-06 17:55] Florob opened #86 "November 2019"
# ToDo

- [ ] Settle for a date and location: **Wednesday YYYY-MM-DD, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

# Invi

[2019-11-06 20:56] #86 closed

[2019-11-20 11:33] badboy opened #87 "March 2020"
https://twitter.com/timClicks/status/1196915457401344000

/cc @timClicks

[2019-11-20 17:02] mre commented on #87
That would be great!

[2019-11-20 17:09] mre opened #88 "December 2019 - Christmas.await?"
I'm not a organizer, but I just had this idea that we should go to the Christmas market again in December. We could talk about Rust and enjoy the cozy atmosphere.
Does that sound interesting?
We could also meet in Düsseldorf for a change, which has a particularly nice Christmas market. 🎅
Proposing December 4th as it's the first Wednesday in December.

[2019-11-20 17:10] mre commented on #88
Here's our usual announcement that we could edit. (Pasted here just so we don't forget.)

---

# ToDo

- [ ] Settle for a date and location: **Wednesday YYYY-MM-DD, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]

[2019-11-22 17:20] kawogi commented on #88
The last time we went to the market it was rather _uncozy_
I believe @Florob already suggested to make another Glühwein-session at the CCC on the recent meetup.

[2019-11-22 17:53] uwearzt commented on #88
I would also prefer the Glühwein session@C4.

BTW: some info to spread at the meetup: https://users.rust-lang.org/t/36c3-assembly-table-ccc-leipzig/34040

[2019-11-22 20:05] Florob commented on #88
Yes, I said something to the effect of disliking the past Christmas market experiences. We're bound to either stand in line for glühwein, or in peoples way as a group.
I'm into the `.await` part though. I'd prepare a small talk about async/await/Futures, so I finally have an excuse to learn about them. Anybody with actual experience should feel free to take this from me though.
Obviously also glüh

[2019-11-23 07:34] timClicks commented on #87
Awesome! I have a work event 2-6 March in Frankfurt. Would it be possible to schedule something between 7-9 March? I'll take the train north and spend a few days in DE before heading home to NZ.

[2019-11-23 13:02] mre commented on #88
Makes sense. Can we do the announcement in the next days to get the word out?

[2019-11-25 21:55] Florob commented on #87
@timClicks
Indeed we'd be happy to have you.
I'll have to check with the venue, but 7-9th March sounds plausible. Any preference? Otherwise I'd ask around at the next meetup whether people would prefer a Monday evening, or the weekend (potentially earlier in the day).

[2019-12-04 21:05] timClicks commented on #87
The weekend would work well for me too. I am preparing a [90 minute tutorial for Linux.conf.au](https://linux.conf.au/schedule/presentation/89/) that I could present in Germany.

[2019-12-05 00:55] #88 closed

[2019-12-05 00:55] Florob opened #89 "January 2020"
# ToDo

- [ ] Settle for a date and location: **Wednesday 2020-01-06, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

# Invi

[2020-01-28 19:46] Florob opened #90 "February 2020"
# ToDo

- [x] Settle for a date and location: **Wednesday 2020-02-05, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

# Invi

[2020-01-28 21:39] mre commented on #90
I wonder if we should do another "Introduction to Rust" talk to kick off the year.
Wasn't there last time, but I assume a few people decided to learn Rust as sort of a new-years resolution and it might help them get up to speed.
I recently gave another talk on the topic at another (non-Rust) meetup that I could present. Doesn't have to be me, though. We have plenty of talent who could give a fresh

[2020-01-29 10:03] Florob commented on #90
@mre sounds like a plan. I'd like to announce the meetup today or tomorrow. If you have a short abstract for your talk that would help.
I also still have my [ancient Rust introduction slides](https://babelmonkeys.de/~florob/talks/RUG-2015-10-28-Rust.pdf). Depending on what you're going to talk about I could condense that into a "thread-centric introduction" to get some contrast.

[2020-01-30 13:00] mre commented on #90
Sure!
Here we go:

Title could be

Abstract:

Slides are here: https://speakerdeck.com/mre/einfuhrung-in-rust
It's really high-level so maybe you can take over the in-depth part after that?

[2020-01-30 16:36] Florob commented on #90
@mre Thanks. I'll try do a talk centered around ownership then. It seems your slide deck doesn't really deal with that at all.
Correction on your slide 57 (or at least what I think it is supposed to mean): Rust absolutely doesn't prevent deadlocks. Depending on what they tracked with "synchronization error" I'm a bit doubtful Rust prevents those either (cf. atomics with invalid Ordering). Also "nu

[2020-01-31 16:04] mre commented on #90
True. Fixed.

Oh my.
Fortunately the University still has a copy: https://web.cs.ucdavis.edu/~filkov/papers/lang_github.pdf:

There are ways around it (unsafe), but I'd say this error-scenario is mostly prevented by Rust's ownership model and its smart pointer types (e.g. Arc in combination with Mutex, RefCell,...). Would you agree?

[2020-01-31 17:20] Florob commented on #90
Mostly. Misusing atomics is sort of the big exception. That still enables SHM mistakes in safe code. Maybe make it yellow?

[2020-01-31 17:27] mre commented on #90
Sounds good.

[2020-02-08 06:10] #90 closed

[2020-02-26 14:11] Florob commented on #87
Repurposing this as the general March planning ticket

@timClicks First of all sorry for being so late with this. I'm way worse at time management then I'd like to be.
The tutorial sounds like a nice fit for us. I've also heard from some people that are not regulars at the meetup that they would be interested in something like this.
I'd propose starting March 8th at 16:00 if that works for you. Le

[2020-03-02 20:34] kawogi commented on #87
Next Meetup will be held on March 8th?
https://rust.cologne/ still points to Feb 5th. Maybe someone™ finds the time to update the date :)

[2020-03-02 20:46] Florob commented on #87
@fyl2xp1 Pushed a commit to trigger the "currently planning" rebuild. Other than that I know nothing that isn't tracked in this ticket. So I can't really update the date to something that wouldn't be a guess.

[2020-03-03 12:50] YtvwlD commented on #87
You are aware that Meetup is sending out notifications for tomorrow?
![grafik](https://user-images.githubusercontent.com/5578100/75777228-e2fc2480-5d55-11ea-93b6-9e83db2dbccf.png)

[2020-03-03 13:09] Florob commented on #87
@YtvwlD I'm generally aware of it sending out notifications, sometimes a few days ahead of time, sometimes the day before. I am also aware the date is still wrong. Thing is changing the date of the event also generates a notification, so I'd rather only do that once.
At any rate I'll announce something this evening including a date change. If I don't hear anything 'til then it will just be "Hack a

[2020-03-03 14:32] timClicks commented on #87
I'm really sorry all, I won't be able to get to Cologne this weekend. I will be stuck in Frankfurt :(

[2020-03-03 14:41] Florob commented on #87
@timClicks Sorry to hear that. Would've liked to know that earlier, but that's on me for confirming this late. Have a good time in Frankfurt.

[2020-03-11 09:26] #87 closed

[2020-03-11 09:26] Florob opened #91 "April 2020"
# ToDo

- [ ] Settle for a date and location: **Wednesday 2020-04-01, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [ ] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **???**)
  - [ ] [meetup]
  - [ ] [website]
  - [ ] [twitter]
  - [ ] [community calendar]
  - [ ] [reddit]
  - [ ] [rust-lang forum]

# Invi

[2020-03-14 20:46] Florob commented on #91
Any events in Cologne until April 10th have been [prohibited](https://www.stadt-koeln.de/politik-und-verwaltung/presse/corona-virus-neue-regelungen-fuer-veranstaltungen).
So at any rate we won't meet on the first Wednesday in April.
We'll see how the COVID-19 situation develops and if/when another date in April makes sense.

[2020-03-26 23:42] mre commented on #91
Got an invite from meetup.com yesterday. Maybe we can pause the notifications for the time being to avoid confusion.

[2020-03-27 00:09] Florob commented on #91
@mre As you may have noticed in the past, if it was up to me I'd have Meetup send no notifications without my consent. Unfortunately it does and I also can't find any settings to change that.
Canceling/deleting events is all I can do. Canceled the April meetup for now, might delete the whole event series in the future.

[2020-03-27 09:50] mre commented on #91
Thanks. 😄

[2020-06-28 20:24] mre commented on #91
Guess we can close this.

[2020-06-28 20:29] mre opened #92 "Online meetup?"
Was wondering whether we should offer an online "Rust meet-and-greet".
Could be something spontaneous where people talk about their projects and there could be lightning talks.
It's just an idea to revive the meetup.
@Florob, @uwearzt opinions?

[2021-01-13 21:07] cars10 commented on #92
+1 :)

[2021-01-14 06:21] xetra11 commented on #92
Like it - I am back in Cologne and wanted to give Rust a second try. However not possible now since C4 is closed (it is right?) and therefore I'd love to have that meeting in another way again.

[2021-01-17 22:28] kawogi commented on #92
I'd be in favour.
We might start with a casual jitsi session, just to see how this works out.
Other opinions on that?

[2021-01-18 11:18] mre commented on #92
Well, we can always give it a try. 😄
For anyone that's interested, could you fill out [the Doodle here](https://doodle.com/poll/zvh4q5fpmxg9yqvp) to find a date?
I'd like to try [gather](https://gather.town) to organize the meetup. It's supposedly a bit more fun/relaxed than a zoom call. Already created a room for us. Check it out here if you want to test your setup:
https://gather.town/app/0Ez2ad

[2021-01-18 21:24] kawogi commented on #92
Risking another ping @Florob and @uwearzt ;)

[2021-01-19 12:39] mre commented on #92
So far most people seem to prefer 1st of February. I'll leave the poll open in case more people want to chime in.
<img width="525" alt="image" src="https://user-images.githubusercontent.com/175809/105035724-c21aeb80-5a5b-11eb-896d-29e51a1b23b3.png">

[2021-01-27 23:32] mre commented on #92
So since we didn't get more participants, I'd say let's go for 1st of February, 7pm at https://gather.town/app/0Ez2adaJDhN67Xzw/rust. Be there or be square. Not sure what we're gonna do yet, but we'll figure it out. I'll also announce it on Twitter for good measure. Bring your friends. ✌️
Oh and this is totally an in-official meeting and not endorsed by Rust Cologne. Just a bunch of people talking

[2021-02-03 11:37] mre commented on #92
Just as a summary: the online meetup was quite fun. Gather town was working great; then again we were only four people, so we'll have to see how it works with a bigger group.
We enjoyed a great presentation by @YtvwlD about his bootloader written in Rust. After that, we were taking turns showing our projects and talking about possible improvements.
Overall, we'd love to do another event like that

[2021-02-04 06:12] xetra11 commented on #92
Sorry could not participate. Btw. we use Gather for our virtual office and it works fine with 12 people. Just an experience report

[2021-03-01 18:07] YtvwlD commented on #92
But you didn't hit – or am I too late? :D

[2021-03-01 19:15] mre commented on #92
@YtvwlD and me decided to move it to *next week on 8th of March*.
We'll organize a temporary online meetup at https://github.com/hello-rust/community.
Feel free to click on the "watch" button to get notified about future events. It's that easy. 😄
If you want to participate in the next meetup, add a comment here or just be there: https://github.com/hello-rust/community/issues/2
See ya!

[2021-03-01 19:15] #92 closed

[2021-03-10 10:34] xetra11 commented on #92
@mre
Consider using the Github Discussions Feature. I think this is more suitable for having "Discussions" :D

[2021-03-10 11:10] mre commented on #92
Github discussions didn't exist when this issue was created; and the feature has to be activated for each repo, which it wasn't. 😉 Organization moved to  https://github.com/hello-rust/community now, so I don't expect any further issues here.

[2021-10-07 11:52] cars10 opened #93 "Meeting in 2021"
Hi, what do you think about having a meeting this year? We could define a maximum number of participants, 2G, etc.

[2021-10-07 12:36] mre commented on #93
I'm all for it at least, but I'm not an organizer. 😉

[2021-10-07 13:10] uwearzt commented on #93
Would also like to have a Meetup. We have to use the rooms at C4, the Cisco Office we used once is no longer available (and i don't work for Cisco any more). But AFAIK C4 is still closed for nonmembers (I am member of CCC but not the Cologne chapter).

[2021-10-20 09:14] badboy opened #94 "Meetup Organizer Subscription - Renewal or drop?"
Hey,

I've been paying for a meetup.com Organizer Subscription ever since I was hosting the meetup.
This allows to have the https://www.meetup.com/RustCologne/ org running with unlimited members.
I haven't been involved since 2018 though.

The subscription is now up for renewal on October 25th (just 5 days from now) for ~30 eur/6 months.
Canceling means that the group will be up for grabs to a new

[2021-10-20 09:22] badboy commented on #94
Oh, another option: seems @flaki still has a subscription too until April so we could move RustCologne over to his account and have another 6 months to figure this out without paying double.

[2021-10-22 07:22] Florob commented on #93
I'll try to be honest here. For probably more than a year before the pandemic I effectively acted as the sole organizer. During that time it was mostly stress and very little enjoyment on my part. Partially because very few people ever offered up topics or content, and most of those that did ended up standing me up. Not the nicest position to be in when all eyes are on you.
So the pandemic was adm

[2021-10-22 07:28] Florob commented on #94
@badboy The meetup group will eventually be used again (cf. https://github.com/Rustaceans/rust-cologne/issues/93#issuecomment-949358662 for the caveats/details of that statement). Feel free to transfer it to me.

[2021-10-22 08:45] badboy commented on #94
Done. Thanks for the efforts.

[2021-10-22 08:56] Florob commented on #94
Is there a trick to paying ~30€ / 6 month?
They want ~40€ for the first 6 month and about 50€/6 month after that for me.

[2021-10-22 09:01] badboy commented on #94
uuuuhm ... Meetup's pricing sucks.
Maybe I'm getting an old price because I've been paying for so long?

What's listed for you here? https://help.meetup.com/hc/en-us/articles/360001620472-Organizer-subscription-pricing

[2021-10-22 09:04] badboy commented on #94
Aaaah, huh. I did misread that page the first time. It indeed lists $59.94 per 6 month.
Yet, my account would still pay US$35.63, so I guess they didn't raise prices for old accounts.

With that in mind I'd be willing to just pay up for another 6 months now (and then you owe me a Mate next time I'm in Cologne :P)

[2021-10-22 09:08] Florob commented on #94
I'd appreciate that, you can even have two Mates :P.
Let's see if meetup allows that, or if we're caught in some limbo now.

Midterm I'll try to talk to other people doing meetups at the C4. Apparently the cost is per organizer not per meetup after all.

[2021-10-22 09:38] badboy commented on #94
You should be able to decline my ask for you to become organizer, or if you already accepted step down as an organizer and assign me again.

A single organizer subscriptions can hold up to 3 meetups.

[2021-10-22 09:41] Florob commented on #94
I had accepted, but not filled out payment, hence my fear of limbo. Fortunately it does not require me to pay before I can step down.

[2021-10-22 09:54] badboy commented on #94
According to the mail I just got "Your nomination has been declined".
We keep it at that and maybe talk again around January/February to see the next steps for in 6 month.

[2021-10-23 16:16] uwearzt commented on #93
I do not work in Cologne any more (i live near Düsseldorf), so it is not possible for me to be the organizer at the moment. I am also not a member of the C4 chapter (but a CCC member).

But i would love to have a meetup near me (i always enjoyed the Meetups).

[2021-10-25 14:23] mre commented on #93
Thanks for raising these concerns @Florob.
We should definitely have an online meeting about the topic soon.
I live in Düsseldorf, so organizing the meetup in Cologne would be difficult for me as well. That said, the C4 feels like the perfect venue for the meetup and like @uwearzt I loved going there.
Finding another (permanent) venue will be difficult. The better option would be to find someone c

[2022-05-31 09:09] kawogi commented on #93
First off: sorry for that huge delay!

Due to lack of free time I've been hesitating to make a decision for myself. Also, organizing other people isn't exactly what I'm good at but I'd love to see the the meetups take place again. I just negotiated with my employer and they agreed to donate some of my working hours for being able to handle organizational stuff in that matter. They also might cover

[2022-05-31 09:19] kawogi commented on #93
@Florob What's the current situation for the C4? Still requiring a member-organizer under 2G as by https://github.com/Rustaceans/rust-cologne/issues/93#issuecomment-949358662 ?

At the moment I'm in Cologne every **Tuesday** and **Thursday** so these would be my favorite days to hold a meetup. I could imagine to have one virtual meetup and one with physical presence each month.

[2022-06-02 21:23] Florob commented on #93
@kawogi Thanks for stepping up.
I can't claim my delay is much better, in terms of organizing something for potential new organizers. I was quite dissuaded by the comments here. It's not like I live in Cologne either, or have a reliable way to always be present on time.

The C4 is open to meetups again. The policy is pretty much "use common sense". The only other meetup that is slowly starting bac

[2022-06-03 06:21] kawogi commented on #93
Sounds good to me, even though I was hoping to start earlier this month. But maybe this gives us time to gather enough people to make your talk a little more attended.
June 20th … 24th are good for me. (22th still has a question mark). Around 19:00?

Do we have a kind-of-established platform for an online meetup? I remember a meetup held on `gather.town`. My personal default would be Jitsi.

(shal

[2022-06-03 11:33] Florob opened #95 "June 2022: Reboot"
# ToDo

- [x] Settle for a date and location: **Monday 2022-06-20, 19:15 CEST** online
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
  + Talk by @florob: Inline Assembly
  + Discussion about the future of the meetup
- [x] Final invitation (deadline **2022-06-08**)
  - [x] [meetup]
  - [x] [website]
  - [x] [twitter]
  - [ ] [community calendar]

[2022-06-03 11:37] Florob commented on #93
Big Blue Button is what I'm currently most used to. I'll confirm that/if we have a room on an instance available. Otherwise Jitsi is fine with me too. I don't really like `gather.town` or work adventure-style platforms for structured meetups. It lends itself better to more open formats (e.g. open space).

Let's try to go back to regular per-meetup issues. Closing in favor of #95.

[2022-06-03 11:37] #93 closed

[2022-06-10 05:44] kawogi commented on #95
I'm not used to this procedure and I'm wondering how I could help to move this forward.
Even though we settled for "online" as location I think we should add a link or service we have in mind.
You suggested "Big Blue Button" in https://github.com/Rustaceans/rust-cologne/issues/93#issuecomment-1145875608

Shall we explicitly ping some of the former residents to gain some traction for this meetup?

[2022-06-10 13:10] Florob commented on #95
Honestly, just nudging me is already pretty good, since for this meetup specifically I'll have to do most work. I'll try to get you permissions on Meetup and Twitter eventually.

I think the most important thing right now is publishing an announcement. I've updated the issue with an initial draft. Proof reading and suggestions for improvements would be great.

[2022-06-14 08:11] kawogi commented on #95
The invitation looks good to me. Ready to be sent.

[2022-06-20 10:31] kawogi commented on #95
~~@Florob would you give me an update on the current status?~~
edit: huh - I could have sworn those checkmarks weren't there a few minutes ago :)
See you later.

[2022-06-20 20:59] #95 closed

[2022-06-20 21:11] kawogi opened #96 "July 2022: Meetup in Cologne"
# ToDo

- [X] Settle for a date and location: **Wednesday 2022-07-06, 19:15 CEST** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [X] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2022-06-29**)
  - [x] [meetup](https://www.meetup.com/rustcologne/events/286890733/)
  - [x] [website](https://rust.cologne/2022/07/06/phy

[2022-06-28 07:03] kawogi commented on #96
Topics suggested in the recent (virtual) meetup:

- WASM (WebAssembly)
- Tokio
- Tauri (https://github.com/tauri-apps/tauri)
- Writing Terminal Applications
- SIMD
- Procedural Macros

For beginners:

- clippy
- writing an actix based webserver
- iterators
- unit tests

Maybe we could also fetch some open entry on rosetta code and do a live coding
https://rosettacode.org/wiki/Reports:Tasks_not_imp

[2022-06-28 07:33] mre commented on #96
Are you planning the meetup for July or August? It says "2022-07-06" but the final invitation date is after that on "2022-07-29", so I wonder what date is correct now.
If you plan to do the meetup in July I could give a talk about WASM. I might not be here in August however.

[2022-06-28 08:09] kawogi commented on #96
Thanks for noticing. I fixed the invitation date to match the meetup next week. For August I'll have to skip as well.

WASM talk would be great.
I plan to do a live coding for implementing the "Matrix Digital Rain" effect in the terminal. That should be beginner friendly, yet entertaining. Maybe we feel like over-engineering the result after that ;)
(https://rosettacode.org/wiki/Matrix_digital_rai

[2022-06-28 08:55] mre commented on #96
Okay, thanks for the clarification. I'd be delighted to do the WASM talk then. Here's an abstract if you need one for the announcement. 😊

[2022-06-29 13:03] kawogi commented on #96
Thanks for noticing. I fixed the invitation date to match the meetup next week. For August I'll have to skip as well.

WASM talk would be great.
I plan to do a live coding for implementing the "Matrix Digital Rain" effect in the terminal. That should be beginner friendly, yet entertaining. Maybe we feel like over-engineering the result after that ;)
(https://rosettacode.org/wiki/Matrix_digital_rai

[2022-06-29 13:48] kawogi commented on #96
@Florob I updated the invitation draft. Can you have a look if this is ok to be released?

[2022-06-29 18:58] Florob commented on #96
@kawogi Looked mostly fine to me. I made a few small changes, fixing grammar and (I hope) improving text flow. Also I think reminding people registration is mandatory this time around is about as important as reminding them to cancel.

[2022-06-30 07:13] kawogi commented on #96
@Florob I created the Event on Meetup. Any last words before I announce that officially?

[2022-06-30 07:41] kawogi commented on #96
I added a new post to the Website but it isn't showing after waiting 10 minutes. Anything I forgot? Am I too impatient?

On a side note: We might want to mention those topics in the "What's new" slot of our meetup (found in recent TWIR).

- c2rust is back: https://immunant.com/blog/2022/06/back/
- Building a web application with Rust and WebAssembly https://kerkour.com/web-application-with-rust-an

[2022-06-30 08:00] Florob commented on #96
@kawogi: Meetup looks good! Feel free to announce it.

Website is indeed strange. github-pages deploy fails without error message (build succeeds). Github seems a bit wonky right now anyway though. I'll re-trigger it again later and hope it works then.

We should collect "What's new" items in the issue so we have one place to look at during meetup. Rust 1.62 release is also coming up today, that w

[2022-07-06 17:45] appelgriebsch commented on #96
Link to Euro Rust conference: https://eurorust.eu/

[2022-07-07 10:29] kawogi commented on #96
As promised I uploaded the code to [github](https://github.com/kawogi/matrix-digital-rain) and [rosetta code](https://rosettacode.org/wiki/Matrix_digital_rain#Rust). I added some comments to make it easier to follow.

The VSCode plugins I've been using were:

- rust-analyzer
- even better toml
- Cargo
- crates
- intent rainbow
- rainbow brackets

Thank you all for coming and your feedback. It's be

[2022-07-07 10:29] #96 closed

[2022-07-07 10:33] kawogi opened #97 "August 2022: Meetup in Cologne"
# ToDo

- [x] Settle for a date and location: **Wednesday 2022-08-24, 19:15 CET** at C4
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [ ] Final invitation (deadline **??? T - 1 week**)
  - [x] [meetup](https://www.meetup.com/de-DE/rustcologne/events/287924732/)
  - [x] [website](https://rust.cologne/2022/08/24/avoiding-leakpocalypse.html)
  -

[2022-07-07 10:38] kawogi commented on #97
I'm not available before the 15th of August. Suggesting August 17th, 24th, 31th

[2022-07-07 10:51] Florob commented on #97
The 17th is blocked for OSAMC, so (unless I'm forgetting something right now) the 24th seems the most plausible option to me.

[2022-07-07 11:20] mre commented on #96
Wanted to briefly mention https://github.com/rust-lang/rustlings as well. Helpful code katas for newcomers.

[2022-08-02 19:32] Florob commented on #97
I've confirmed the 24th with the C4.

Rust 1.63 will release on August 11th.
As a consequence I'd like to talk about [scoped threads](https://doc.rust-lang.org/nightly/std/thread/fn.scope.html). My idea would be doing an updated version of my introductory Rust talk ([initial version](https://babelmonkeys.de/~florob/talks/RUG-2015-10-28-Rust.pdf), [variation focusing on ownership](https://babelmonk

[2022-08-03 12:16] mre commented on #97
Sounds very reasonable to me.

[2022-08-08 08:25] kawogi commented on #97
Totally in favor!

Do we need another topic to fill the evening?

[2022-08-08 12:00] Florob commented on #97
I don't think so. I'd rather have more time for open discussion, than have too much content again.

[2022-08-18 10:06] Florob commented on #97
@kawogi I've updated the issue with an invitation draft. Could you proof-read? Sorry for being so late with this.

[2022-08-19 06:06] kawogi commented on #97
Perfect, ready to go.

[2022-08-19 12:33] Florob commented on #97
Announced. Meetup, homepage and twitter links in the issue comment.

[2022-08-25 21:21] #97 closed

[2022-08-25 21:23] Florob opened #98 "September 2022: Meetup in Cologne"
# ToDo

- [x] Settle for a date and location: **Wednesday 2022-09-07, 19:15 CEST** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [X] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2022-08-31**)
  - [x] [meetup]
  - [x] [website]
  - [ ] [twitter]
  - [ ] [community calendar]

# Invitation draft

[code]
# Rust News
-

[2022-08-29 19:39] kawogi commented on #98
I thought about presenting how `clippy` can help you to write idiomatic code. Maybe by trying to trigger as many lints with a short code as possible. - then going berserk and show when to stop enabling warnings (`restriction`)

[2022-08-30 17:19] Florob commented on #98
@kawogi Sounds good. Do you have an estimate for how long that would take? Do we need something else?

[2022-08-30 18:41] kawogi commented on #98
Let me see … there are 456 lints … one minute for each … jk ;)

I can make it as long as we like it to be and I can abort any time. I think we'll scratch a lot of different topics and hear many different opinions. Those will likely spark a discussion filling the rest of the evening. There's a risk that this format gets boring over some time.
TL;DR we don't need another topic IMO :)

Title suggesti

[2022-08-30 21:46] YtvwlD commented on #98
just a small nitpick: The

doesn't seem to exactly match the

on the meet-up page (which again does not seem to match what actually applies to the event).

I would appreciate this to be merged and kept up-to-date to aid (possible) participants in their risk assessment. :)

[2022-09-02 15:07] kawogi commented on #98
@Florob Can you please proof-read the invitation?

Not sure what to do about the COVID-Measures. Maybe we should point out that masks are required to bring with you, but we'll decide on the spot whether they are mandatory to wear (depending on the number of participants.)

[2022-09-02 16:05] Florob commented on #98
@YtvwlD Thank you for the feedback. I don't necessarily agree that the text does not match what we specify on meetup. That is mostly due to "Masks required" being vague though. We definitely have to do better with what actually happens at the meetup. I think we were much more upfront with people about this during the July meetup.
The general default we have in mind is definitely masking. With soci

[2022-09-04 08:40] kawogi commented on #98
@Florob Looks like `rust.cologne` doesn't update on its own. Could you have a look?

[2022-09-04 20:55] Florob commented on #98
It did update. Just doesn't really look that way, since you changed neither title nor date in the metadata.

![image](https://user-images.githubusercontent.com/133684/188332891-b9f8f011-15b4-4523-9301-8774a049f8ad.png)

[2022-09-07 22:48] #98 closed

[2022-09-07 22:48] Florob opened #99 "October 2022"
# ToDo

- [x] Settle for a date and location: **Wednesday 2022-10-12, 19:15 CEST** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [X] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **2022-10-06**)
  - [x] [meetup](https://www.meetup.com/de-DE/rustcologne/events/288977470/)
  - [x] [website](https://rust.cologne/2022/10/

[2022-09-13 21:14] kawogi commented on #99
I think I could give a tour through Iterators. I'll see in the next days how much time I find to prepare something.
Other suggestions are still welcome.

[2022-10-02 14:36] kawogi commented on #99
I'm a little late on this. Shall we opt for a very late announcement or shall we defer the date?

[2022-10-02 18:24] Florob commented on #99
I've also been a bit AWOL for work reasons.

I think delaying might be preferable to doing things super short notice. I can ask for an alternative date at the C4 on Tuesday. That would probably be the 12th or 26th, if you have a preference between those.

[2022-10-03 17:33] kawogi commented on #99
Both are fine for me. I'd go for the 12th if we have a choice.

[2022-10-06 11:46] kawogi commented on #99
Any news on the date?

[2022-10-06 19:08] Florob commented on #99
Yes, October 12th it is. We'll be sharing the space (not the room though) with the "Free Software Evening".
@kawogi can you write up an announcement?

[2022-10-06 20:19] kawogi commented on #99
Great, thanks.
Is the drafted version ok?

[2022-10-08 02:34] Florob commented on #99
Uff… I feel really bad about having delayed this even further. My mail server somehow forgot how to IPv4, which led to a certain lack of GitHub notifications. And I noticed way to late.

The announcement looks fine to me, and good call on putting it out there.

[2022-10-12 22:37] #99 closed

[2022-10-12 22:41] Florob opened #100 "November 2022"
# ToDo

- [x] Settle for a date and location: **Wednesday 2022-11-02 19:15 CET** at C4
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda: Tauri
- [x] Final invitation (deadline **2022-10-26**)
  - [x] [meetup](https://www.meetup.com/rustcologne/events/289359494/)
  - [x] [website](https://rust.cologne/2022/11/02/tauri.html)
  - [ ] [twitter]
  - [ ] [community calendar]

[2022-10-26 07:22] Florob commented on #100
@kawogi I've updated the invitation draft, to publish later today.
A quick review would be appreciated.

[2022-10-26 08:57] kawogi commented on #100
Looks good to me.

[2022-11-03 15:32] #100 closed

[2022-11-03 15:33] Florob opened #101 "December 2022"
# ToDo

- [x] Settle for a date and location: **Wednesday 2022-12-07, 19:15 CET** at C4 (default: first Wednesday each month)
- [ ] Send "Save the Date" info (with link to this ticket)
- [x] Basic Agenda (default: Open Space)
- [x] Final invitation (deadline **??? T - 1 week**)
  - [x] [meetup](https://www.meetup.com/rustcologne/events/290084307/)
  - [x] [website](https://rust.cologne/2022/12/07/

[2022-11-03 15:34] Florob commented on #101
Rust 1.65 has been released with GATs, `let-else` and probably other things. Maybe we can come up with content around that.

[2022-11-30 06:24] Florob commented on #101
@kawogi What should we put into the announcement (that should be going out today)? Do you have any concrete ideas?
Otherwise, I'd suggest talking about the 1.65 release and general end-of-year-timey mingling.

[2022-11-30 06:50] mre commented on #101
Given that it's going to be December, we could do some [Advent of Code](https://adventofcode.com/) with a focus on idiomatic Rust? I do plan on showing up this time. 😆

[2022-11-30 09:55] kawogi commented on #101
I was planning to explain some of the recent features, that have been added to 1.65:

- GAT
- `let else` (I think we already covered this this, but doesn't hurt)
- `break` with return values

While GAT might be the most interesting part, I not sure I could explain the topic in a comprehensible manner. But I would give it a try.

I don't think those topics will take much time, so there should be ro

[2022-11-30 10:11] mre commented on #101
Glühwein would be nice and it's sort of a tradition of the meetup, but in light of the pandemic I didn't suggest it. That said I'd still be interested.